h1 {
	text-align: center;
	padding: 10px;
	margin: 10px;
}

h2 {
	padding: 10px;
	margin: 10px;
	text-align: center;
	justify-content: center;
}

ol {
	padding-bottom: 10px;
}

.btn_color {
	background-color: #9834eb;
	border: none;
}

.btn_color:hover {
	border: none;
	background-color: #7202cd;
}

.btn_color:disabled {
	background-color: #a678cc;
}

menu {
	background-color: #9834eb;
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 0;
	width: 100%;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;

}

.config-main, #home, .not-configured{
	display: grid;
	place-items: center;

}
.qr-code, #qr-code-recover {
	padding: 10px;
}

input {
	padding: 6px;
	margin: 5px;
}

#setup {
	place-self: center;
}

p {
	text-align: center;
}
ul {
	list-style: none;
	display: flex;
	padding: 0;
	margin: 0;
}

.li-menu {
	margin: 0.5em;
	font-size: 1.5em;
	padding: 8px;
	display: inline-block;
}

a {
	text-decoration: none;
}

a:visited {
	color: black;
}